<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="com.pjt.edu.user.UserVO" alias="user"/>
		<typeAlias type="com.pjt.edu.board.BoardVO" alias="vo"/>
		<typeAlias type="com.pjt.edu.board.mcreview.MCREVBoardVO" alias="mcboard"/>
		<typeAlias type="com.pjt.edu.board.sug.SUGBoardVO" alias="sugboard"/>
		<typeAlias type="com.pjt.edu.board.review.REVBoardVO" alias="revboard"/>
		<typeAlias type="com.pjt.edu.classes.ClassVO" alias="class"/>
	</typeAliases>
	
	<!-- <environments default="mydb">
		<environment id="mydb">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="multi" />
				<property name="password" value="1234" />
			</dataSource>
		</environment>
	</environments> -->

</configuration>
